<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flighttracking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlightTracking"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.StatusDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FinalActivity"
            android:exported="false"
            android:parentActivityName=".ui.AllActivity" />
        <activity
            android:name=".ui.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SavedAirportListActivity"
            android:exported="false"
            android:parentActivityName=".ui.AllActivity" />
        <activity
            android:name=".ui.CreateAccountActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomePage" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:parentActivityName=".ui.CreateAccountActivity" />
        <activity
            android:name=".ui.AirportsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SpecificAirportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookingActivity"
            android:exported="false"
            android:parentActivityName=".ui.AllActivity" />
        <activity
            android:name=".ui.StatusActivity"
            android:exported="false"
            android:parentActivityName=".ui.AllActivity" />
        <activity
            android:name=".ui.AllActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:parentActivityName=".ui.LoginActivity" />
    </application>

</manifest>